node_modules/
client/node_modules/

server/database/*.db
server/database/*.db-shm
server/database/*.db-wal

server/uploads/temp/*
server/uploads/encrypted/*

client/dist/
dist/

.env
server/.env

*.log